* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.h2Title {
  padding: 30px 0 0 0;
  font-family: "Quattrocento Sans", sans-serif;
  color: black;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}
.h2Title span {
  font-weight: bold;
}

.active {
  color: #f2b31a;
}

header {
  background-image: url("img/home-bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
header .gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(28, 181, 224, 0.8), rgba(0, 0, 70, 0.8));
}
header .gradient nav {
  margin: auto;
}
header .gradient .navigation {
  width: 100%;
  margin: auto;
  position: fixed;
}
header .gradient .navigation div ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 35px 20px;
}
header .gradient .navigation div ul li a {
  color: white;
  text-decoration: none;
}
header .gradient .navigation div ul li a .active {
  color: #f2b31a;
}
header .gradient .navigation div ul li .active {
  color: #f2b31a;
}
header .gradient .fixnav {
  width: 100%;
  box-shadow: -2px 4px 45px -12px rgba(0, 0, 0, 0.69);
}
header .gradient .fixnav div {
  width: 100%;
  margin: auto;
  background-color: white;
  color: black;
}
header .gradient .fixnav div ul li {
  padding: 25px 20px;
}
header .gradient .fixnav div ul li a {
  color: black;
}
header .gradient .home {
  color: white;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding: 250px 0;
  line-height: 45px;
}
header .gradient .home h1 {
  font-size: 48px;
}
header .gradient .home p {
  width: 50%;
  margin: auto;
  line-height: 32px;
  padding: 35px 0;
}

#features {
  margin: auto;
  padding: 70px 0;
  width: 85%;
}
#features .features1, #features .features2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 70px 0;
}
#features .features1 div, #features .features2 div {
  flex: 1;
}
#features .features1 .featuresTxt, #features .features2 .featuresTxt {
  padding: 50px 20px;
  line-height: 25px;
}
#features .features1 .featuresTxt .line, #features .features2 .featuresTxt .line {
  height: 2px;
  width: 70px;
  background-color: #f2b31a;
  margin: auto;
}
#features .features1 .featuresTxt p, #features .features2 .featuresTxt p {
  padding: 0 40px 30px 40px;
  font-size: 15px;
  color: #6c757d;
}
#features .features1 .featuresTxt a, #features .features2 .featuresTxt a {
  text-decoration: none;
  font-weight: bold;
}
#features .features1 .featuresTxt a:hover, #features .features2 .featuresTxt a:hover {
  color: #f2b31a;
}
#features .features2 {
  flex-direction: row-reverse;
}

section {
  background-color: #f2b31a;
  color: white;
}
section div {
  padding: 70px 0;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}
section div h2 {
  padding-top: 6px;
}
section div button {
  border: 1px solid white;
  background-color: #f2b31a;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  padding: 13px 11px;
  outline: none;
  cursor: pointer;
}
section div button:hover {
  color: black;
  background-color: white;
}

#services {
  width: 85%;
  margin: auto;
  padding: 70px 0;
}
#services .services1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
}
#services .services1 .service {
  flex: 30%;
  padding: 20px;
  border: 1px solid gainsboro;
  display: flex;
  margin: 15px;
  border-radius: 5px;
}
#services .services1 .service .left {
  width: 50px;
  height: 50px;
  padding: 35px 40px 0 0;
}
#services .services1 .service .left i {
  color: #f2b31a;
  width: 50px;
  height: 50px;
  font-size: 33px;
}
#services .services1 .service .right {
  padding: 0 0 0 20px;
}
#services .services1 .service .right h3 {
  font-size: 17px;
}
#services .services1 .service .right p {
  color: darkgrey;
  font-size: 15px;
  padding: 10px 0;
}

#client {
  background-color: #f8f9fa;
  text-align: center;
  padding: 70px 0;
}
#client i {
  color: #6c757d;
  font-size: 30px;
  margin: 60px 0 30px 0;
}
#client p {
  width: 53%;
  color: #252525;
  text-align: center;
  margin: auto;
  font-style: italic;
  font-size: 16px;
}
#client img {
  border-radius: 30px;
  margin: 25px 0;
}
#client div .stars i {
  color: #f2b31a;
  font-size: 18px;
  margin: 20px 0 30px 0;
}

#team {
  padding: 70px 0 70px 0;
}
#team .teamCards {
  padding: 30px 0 30px 0;
  width: 80%;
  margin: auto;
  display: flex;
}
#team .teamCards .teamCard {
  border: 1px solid gainsboro;
  flex: 20%;
  margin: 40px 20px;
  text-align: center;
}
#team .teamCards .teamCard img {
  border-radius: 50%;
  padding: 30px 65px;
  width: 100%;
  height: auto;
}
#team .teamCards .teamCard h4 {
  color: #f2b31a;
  padding: 10px 0;
  font-size: 15px;
}
#team .teamCards .teamCard p {
  color: grey;
  padding: 0 0 20px 0;
  font-size: 14px;
}
#team .teamCards .teamCard button {
  margin: 15px 4px;
  background-color: white;
  border: 1px solid gainsboro;
  color: grey;
  display: inline-block;
  border-radius: 50%;
  padding: 4px 0;
  font-size: 15px;
  width: 27px;
  outline: none;
  cursor: pointer;
}
#team .teamCards .teamCard button:hover {
  color: white;
  background-color: #f2b31a;
  border: 1px solid #f2b31a;
}

#pricing {
  background-color: #f8f9fa;
  padding: 80px 0 60px 0;
}
#pricing .pricing1 {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#pricing .pricing1 .pricingCard {
  border-radius: 4px;
  margin: 70px 50px;
  text-align: center;
  border: 1px solid gainsboro;
  background-color: white;
}
#pricing .pricing1 .pricingCard h1 {
  font-weight: normal;
  padding: 20px 10px;
}
#pricing .pricing1 .pricingCard .priceDiv {
  margin: 20px 90px;
  padding: 14px 0;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background-color: #f2b31a;
  font-size: 30px;
  text-align: center;
}
#pricing .pricing1 .pricingCard .priceDiv .price {
  color: white;
}
#pricing .pricing1 .pricingCard .priceDiv .price span {
  font-size: 20px;
}
#pricing .pricing1 .pricingCard p {
  color: #989898;
  margin: 25px 0;
}
#pricing .pricing1 .pricingCard button {
  color: white;
  background-color: #f2b31a;
  outline: none;
  border: none;
  padding: 13px 20px;
  font-size: 14px;
  font-weight: bold;
  margin: 3px 0 20px 0;
  cursor: pointer;
}

#contact {
  padding: 70px 0;
}
#contact .contact1 {
  width: 85%;
  margin: auto;
  padding: 70px 0 0 0;
}
#contact .contact1 .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#contact .contact1 .row div {
  width: 32%;
}
#contact .contact1 .row div input {
  width: 100%;
  padding: 10px 7px;
  margin: 10px 0 0 0;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 5px;
}
#contact .contact1 .row div input:focus {
  border: 1px solid #f2b31a;
}
#contact .contact1 textarea {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px 7px;
  margin: 10px 0 0 0;
  outline: none;
}
#contact .contact1 textarea:focus {
  border: 1px solid #f2b31a;
}

footer .footer2 {
  background-color: #343a40;
  padding: 20px 0;
  color: #9a9da0;
  text-align: center;
}

/*# sourceMappingURL=stil.css.map */
