$activeColor: #f2b31a;
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.h2Title{
    padding: 30px 0 0 0;
    font-family: 'Quattrocento Sans', sans-serif;
    color: black;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    span{
        font-weight: bold;
    }
}
.active{
    color: $activeColor;
}
header{
    background-image: url('img/home-bg.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    position: relative;  
    background-attachment: fixed;
    background-repeat: no-repeat;

    .gradient{
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(28, 181, 224, 0.8), rgba(0, 0, 70, 0.8));
        //color: white;

        nav{
            margin: auto;
        }

        .navigation{
            width: 100%;
            margin: auto;  
            position: fixed;
            div{
                ul{
                    li{
                        list-style-type: none;
                        display: inline-block;
                        font-size: 13px;
                        font-weight: bold;
                        padding: 35px 20px;
                        a{                    
                            color: white;
                            text-decoration: none;
                            
                            .active{
                                color: $activeColor;
                            }
                        }  

                        .active{
                            color: $activeColor;
                        }
                    }
                }
            }
            
        }

        .fixnav{
            width: 100%;
            box-shadow: -2px 4px 45px -12px rgba(0,0,0,0.69);
            div{
                width: 100%;
                margin: auto;
                background-color: white;
                color: black;
                ul{
                    li{
                        padding: 25px 20px;
                        a{
                            color: black;
                        }
                    }
                }
        
            }
        }
         
        .home{
            color: white;
            width: 100%;
            height: 100%;
            margin: auto;
            text-align: center;
            padding: 250px 0;
            line-height: 45px;

            h1{
                font-size: 48px;
            }
            p{
                width: 50%;
                margin: auto;
                line-height: 32px;
                padding: 35px 0;
            }
        }
    }
}

#features{
    margin: auto;
    padding: 70px 0;
    width: 85%;
    .features1, .features2{
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 70px 0;
        div{
            flex: 1;
        }
        .featuresTxt{
            padding: 50px 20px;
            line-height: 25px;
            .line{
                height: 2px;
                width: 70px;
                background-color: $activeColor;
                margin: auto;
            }
            p{
                padding: 0 40px 30px 40px;
                font-size: 15px;
                color: #6c757d;
            }
            a{
                text-decoration: none;
                font-weight: bold;
                &:hover{
                    color: $activeColor;
                }
            }
        }
    }
    .features2{
        flex-direction: row-reverse;
    }
}
section{
    background-color: $activeColor;
    color: white;
    div{
        padding: 70px 0;
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        font-weight: normal;
        h2{
            padding-top: 6px;
        }
        button{
            border: 1px solid white;
            background-color: $activeColor;
            color: white;
            border-radius: 5px;
            font-weight: bolder;
            padding: 13px 11px;
            outline: none;
            cursor: pointer;
            &:hover{
                color: black;
                background-color: white;
            }
        }
    }
}
#services{
    width: 85%;
    margin: auto;
    padding: 70px 0;
    .services1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px 0;
        .service{
            flex: 30%;
            padding: 20px;
            border: 1px solid gainsboro;
            display: flex;
            margin: 15px;
            border-radius: 5px;
            .left{
                width: 50px;
                height: 50px;
                padding: 35px 40px 0 0;
                i{
                    color: $activeColor;
                    width: 50px;
                    height: 50px;
                    font-size: 33px;
                }
            }
            .right{
                padding: 0 0 0 20px;
                h3{
                    font-size: 17px;
                }
                p{
                    color: darkgrey;
                    font-size: 15px;
                    padding: 10px 0;
                }
            }
        }
    }
}
#client{
    background-color: #f8f9fa;
    text-align: center;
    padding: 70px 0;
    i{
        color: #6c757d;
        font-size: 30px;
        margin: 60px 0 30px 0; 
    }
    p{
        width: 53%;
        color: #252525;
        text-align: center;
        margin: auto;
        font-style: italic;
        font-size: 16px;
    }
    img{
        border-radius: 30px;
        margin: 25px 0;
    }
    div{        
        .stars{
            i{
                color: $activeColor;
                font-size: 18px;
                margin: 20px 0 30px 0;
            }
        }
    }
}
#team{
    padding: 70px 0 70px 0;
    .teamCards{
        padding: 30px 0 30px 0;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        .teamCard{
            border: 1px solid gainsboro;
            flex: 20%;
            margin: 40px 20px;
            text-align: center;
            img{
                border-radius: 50%;
                padding: 40px 0px;
                width: 50%;
                height: auto;
            } 
            h4{
                color: $activeColor;
                padding: 10px 0;
                font-size: 15px;
            }
            p{
                color: grey;
                padding: 0 0 20px 0;
                font-size: 14px;
            }
            button{
                margin: 15px 4px;
                background-color: white;
                border: 1px solid gainsboro;
                color: grey;
                display: inline-block;
                border-radius: 50%;  
                padding: 4px 0;
                font-size: 15px;
                width: 27px;
                outline: none;
                cursor: pointer;
                &:hover{
                    color: white;
                    background-color: $activeColor;
                    border: 1px solid $activeColor;
                }
            }
        }
    }
}
#pricing{
    background-color: #f8f9fa;
    padding: 80px 0 60px 0;
    .pricing1{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .pricingCard{
            border-radius: 4px;
            margin: 70px 50px;
            text-align: center;          
            border: 1px solid gainsboro;;
            background-color: white;
            width: 30%;
            h1{
                font-weight: normal;
                padding: 20px 10px;
            }
            .priceDiv{
                margin: auto;
                padding: 14px 0;
                border-radius: 50%;
                width: 110px;
                height: 110px;
                background-color: $activeColor;
                font-size: 30px;
                text-align: center;
                .price{
                    color: white; 
                    span{
                        font-size: 20px;
                    }
                }                
            }
            p{
                color: #989898;
                margin: 25px 0;
            }
            button{
                color: white;
                background-color: $activeColor;
                outline: none;
                border: none;
                padding: 13px 20px;
                font-size: 14px;
                font-weight: bold;
                margin: 3px 0 20px 0;
                cursor: pointer;
            }
        }
    }
}
#contact{
    padding: 70px 0;
    .contact1{
        width: 85%;
        margin: auto;
        padding: 100px 0 0 0;
        .row{
            display: flex;
            justify-content: space-between;           
            width: 100%; 
            div{
                width: 32%;
                input{
                    width: 100%;
                    padding: 10px 7px;
                    margin: 10px 0 0 0;
                    outline: none;
                    border: 1px solid gainsboro;
                    border-radius: 5px;
                    &:focus{
                        border: 1px solid $activeColor;
                    }
                }
            }
        }
        textarea{
            border: 1px solid gainsboro;
            border-radius: 5px;
            padding: 10px 7px;
            margin: 10px 0 0 0;
            outline: none;
            &:focus{
                border: 1px solid $activeColor;
            }
        }
    }
    button{
        color: white;
        background-color: $activeColor;
        outline: none;
        border: none;
        padding: 13px 20px;
        font-size: 14px;
        font-weight: bold;
        margin: 3px 0 20px 0;
        cursor: pointer;
    }
}
footer{
    .footer1{}
    .footer2{
        background-color: #343a40;
        padding: 20px 0;
        color: #9a9da0;
        text-align: center;
    }
}
#mobileNav{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: white;
    #hamburgerMenuBtn{      
        i{
            padding: 12px 15px;
            color: black;
            font-size: 35px;
        }  
        div{
            width: 25px;
            height: 7px;
            display: block;
            background-color: black;
        }
    }
    p{
        color: black;
        font-size: 20px;
        padding: 20px 50px;
        width: 100%;
    }
}
#navModal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    div{
        width: 200px;
        height: auto;
        margin: auto;
        nav{
            margin: 50px 0;
            ul{
                padding: 0;
                text-align: center;
                li{
                    list-style-type: none;
                    padding: 10px 0;
                    font-size: 25px;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.modalToggler{
    display: block;
}
@import 'responsive.scss';