$activeColor: #f2b31a;

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.h2Title{
    font-family: 'Quattrocento Sans', sans-serif;
    color: black;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    span{
        font-weight: bold;
    }
}
header{
    background-image: url('img/home-bg.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    position: relative;

    .gradient{
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(28, 181, 224, 0.8), rgba(0, 0, 70, 0.8));
        //color: white;

        nav{
            width: 85%;
            margin: auto;  
            //position: fixed;
            div{
                float: right;
                ul{
                    li{
                        list-style-type: none;
                        display: inline-block;
                        font-size: 13px;
                        font-weight: bold;
                        padding: 35px 20px;
                        a{                    
                            color: white;
                            text-decoration: none;
                            
                            .active{
                                color: $activeColor;
                            }
                        }  

                        .active{
                            color: $activeColor;
                        }
                    }
                }
            }
            
        }
        .home{
            color: white;
            width: 100%;
            height: 100%;
            margin: auto;
            text-align: center;
            padding: 250px 0;
            line-height: 45px;

            h1{
                font-size: 48px;
            }
            p{
                width: 50%;
                margin: auto;
                line-height: 32px;
                padding: 35px 0;
            }
        }
    }
}

#features{
    margin: auto;
    padding: 60px 0;
    width: 85%;
    .features1, .features2{
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 70px 0;
        div{
            flex: 1;
        }
        .featuresTxt{
            padding: 50px 20px;
            line-height: 25px;
            .line{
                height: 2px;
                width: 70px;
                background-color: $activeColor;
                margin: auto;
            }
            p{
                padding: 0 40px 30px 40px;
                font-size: 15px;
                color: #6c757d;
            }
            a{
                text-decoration: none;
                font-weight: bold;
                &:hover{
                    color: $activeColor;
                }
            }
        }
    }
    .features2{
        flex-direction: row-reverse;
    }
}
section{
    background-color: $activeColor;
    color: white;
    div{
        padding: 70px 0;
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        font-weight: normal;
        h2{
            padding-top: 6px;
        }
        button{
            border: 1px solid white;
            background-color: $activeColor;
            color: white;
            border-radius: 5px;
            font-weight: bolder;
            padding: 13px 11px;
            outline: none;
            cursor: pointer;
            &:hover{
                color: black;
                background-color: white;
            }
        }
    }
}
#services{
    width: 85%;
    margin: auto;
    padding: 70px 0;
}

.active{
    color: $activeColor;
}